<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>интернет магазин студента GeekBrains</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>

<conteiner>

    <body>
        <div class="main_menu">
            <ul class="hr">
                <li>
                    <a href="/index/">Главная</a>
                </li>
                <li>
                    <a href="/contacts/">Контакты</a>
                </li>
            </ul>
        </div>

        <h2 class="heading2 header_contact">Contact US</h2>
        <div class="contact_body">
            <div class="heading4">
                <img src="/static/img/NASA.jpg" alt="foto" width="200">
                <h4>Address</h4>
                <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
                <h4>Phone</h4>
                <ul>
                    <li>(xxx)XXX-XX-XX</li>
                    <li>(XXX)XXX-XX-XX</li>
                </ul>
                <h4>Online service</h4>
                <ul>
                    <li>
                        <a href="https://geekbrains.ru/study_groups/14276/homeworks/81309" target="_blank">Учебный
                            портал</a>
                    </li>
                    <li>
                        <a href="https://www.artlebedev.ru/typograf/" target="_blank">Типограф</a>
                    </li>
                    <li>
                        <a href="mailto:mail@mail.ru">Ссылка на почту</a>
                    </li>
                </ul>
                <h4>Send us message</h4>
            </div>
            <div class="border">
                Full name <br><input type="text" placeholder="Name"><br>
                Email <br><input type="text" placeholder="mail@mail.ru" cols="5" rows="10"><br>
                Message <br><textarea name="" id="" cols="50" rows="10"></textarea><br>
                <button class="button" type="submit">Submit</button><br>
            </div>
        </div>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d17943.613965911856!2d37.726493!3d55.7940758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1600204320589!5m2!1sru!2sru"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe><br>
        <p class="paragraph">Интернет магазин</p>
        <hr>
        <p class="paragraph">Список с контактами:</p>
        <ul class="hr">
            <li>Администратор</li>
            <li>(XXX)XXX-XX-XX</li>
            <li>mail@mail.ru</li>
        </ul>
        </div>
        <div class="footer_copyright">Все права защищены</div>
    </body>
</conteiner>

</html>